Je charge les différentes bibliothèques que je vais utiliser le long du projet

In [ ]:
# Charger les bibliothèques nécessaires
import pandas as pd # Pour la manipulation des données
import matplotlib.pyplot as plt # Pour la visualisation des données
import seaborn as sns # Pour des visualisations statistiques avancées
import numpy as np # Pour les opérations numériques
from pathlib import Path # Pour la gestion des chemins de fichiers

Je charge ma bibliothèque persos pour le projet

In [ ]:
# Charger la bibliothèque perso oc_tools
from oc_tools import cleaning as cln, load_save as ls, exploration as exp

Je prépare des variable contenant les chemins des dossiers dont j'aurais besoin tout du long du projet

In [ ]:
# chemin du dossier du projet
base_dir = Path().resolve().parent

# Définir le chemin du dossier des données brutes
raw_data_dir = base_dir / "data" / "raw"

# Définir le chemin du dossier des données traitées
processed_data_dir = base_dir / "data" / "processed"

## Partie 1

### Etape 1 - Chargez les données dans le Notebook

Je commence paar récupérer les chemins des fichiers compris dans mon dossier de données brutes puis je ne conserve que les nom des fichiers.

In [4]:
def list_raw_data_files() -> list[str]:
    """Lister tous les fichiers CSV dans le dossier des données brutes."""
    files_list = list(raw_data_dir.glob("*.csv"))
    # Retourner la liste des noms de fichiers.
    return [file.name for file in files_list]

In [5]:
files = list_raw_data_files()  # Utiliser la fonction pour obtenir la liste des fichiers

# Afficher la liste des fichiers
print(f"Voici la liste des fichiers disponibles dans le dossier des données brutes :")
for file in files:
    print(f"- {file}")

Voici la liste des fichiers disponibles dans le dossier des données brutes :
- EdStatsCountry-Series.csv
- EdStatsCountry.csv
- EdStatsData.csv
- EdStatsFootNote.csv
- EdStatsSeries.csv

Je crée un dictionnaire de dataframes pour être capable d'associer chaque jeu de données avec le nom de son fichier d'origine

In [6]:
def load_raw_data(files: list[str]) -> dict[str, pd.DataFrame]:
    """Charger chaque fichier CSV dans un DataFrame et les stocker dans un dictionnaire."""
    dataframes = {}
    for file in files:
        df = pd.read_csv(raw_data_dir / file)
        dataframes[str(file)] = df
    return dataframes

dataframes = load_raw_data(files)  # Utiliser la fonction pour charger les données

Je peux facilement relié chaque dataframes au fichier qui lui est associé grace a l'association clé-valeur.

In [7]:
def print_dfs_head(dataframes: dict[str, pd.DataFrame]) -> None:
    """Visualiser les premières lignes de chaque DataFrame."""
    for file_name, df in dataframes.items():
        print(f"Voici les premières lignes de {file_name} :")
        display(df.head())
        print("\n")

print_dfs_head(dataframes)  # Utiliser la fonction pour afficher les premières lignes

Voici les premières lignes de EdStatsCountry-Series.csv :

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

Voici les premières lignes de EdStatsCountry.csv :

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

Voici les premières lignes de EdStatsData.csv :

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Voici les premières lignes de EdStatsFootNote.csv :

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

Voici les premières lignes de EdStatsSeries.csv :

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Etape 2 - Collectez les informations basiques sur chaque jeu de données

#### EdStatsCountry-Series


Dans ce jeu de données chaque ligne représente un KPI pour un pays

In [9]:
# Nombre de ligne et de colonnes$
print(f"Le jeu de données de EdStatsCountry-Series.csv a {dataframes['EdStatsCountry-Series.csv'].shape[0]} lignes et {dataframes['EdStatsCountry-Series.csv'].shape[1]} colonnes.")

Le jeu de données de EdStatsCountry-Series.csv a 613 lignes et 4 colonnes.

In [10]:
# Nombre de doublons dans le jeu de données
print(f"Le jeu de données de EdStatsCountry-Series.csv contient {dataframes['EdStatsCountry-Series.csv'].duplicated().sum()} lignes en doublons.")

Le jeu de données de EdStatsCountry-Series.csv contient 0 lignes en doublons.

In [16]:
# Proportion de valeurs manquantes par colonne
missing_ratio = dataframes['EdStatsCountry-Series.csv'].isnull().mean() * 100
print("Proportion de valeurs manquantes par colonne dans EdStatsCountry-Series.csv :")
print(missing_ratio)

Proportion de valeurs manquantes par colonne dans EdStatsCountry-Series.csv :
CountryCode      0.0
SeriesCode       0.0
DESCRIPTION      0.0
Unnamed: 3     100.0
dtype: float64

La colonne ```Unnamed: 3``` n'a aucune valeur donc elle est inutile

In [21]:
# Créer la fonction pour supprimer les colonnes vides
def delete_empty_colums(dataframe: pd.DataFrame) -> None:
    """Supprimer les colonnes vides d'un DataFrame."""
    empty_col = dataframe.isnull().mean() == 1.0
    dataframe.drop(columns=dataframe.columns[empty_col], inplace=True)

In [25]:
delete_empty_colums(dataframes['EdStatsCountry-Series.csv'])
# Vérifier à nouveau la proportion de valeurs manquantes par colonne après suppression des colonnes vides
missing_ratio_after = dataframes['EdStatsCountry-Series.csv'].isnull().mean() * 100
print("Proportion de valeurs manquantes par colonne dans EdStatsCountry-Series.csv après suppression des colonnes vides :")
print(missing_ratio_after)

Proportion de valeurs manquantes par colonne dans EdStatsCountry-Series.csv après suppression des colonnes vides :
CountryCode    0.0
SeriesCode     0.0
DESCRIPTION    0.0
dtype: float64

In [27]:
# Vérification si il y a des colonnes numériques
print(f"Types de données dans EdStatsCountry-Series.csv :")
print(dataframes['EdStatsCountry-Series.csv'].dtypes)

Types de données dans EdStatsCountry-Series.csv :
CountryCode    object
SeriesCode     object
DESCRIPTION    object
dtype: object