Je charge les différentes bibliothèques que je vais utiliser le long du projet

In [1]:
# Charger les bibliothèques nécessaires
import pandas as pd # Pour la manipulation des données
import matplotlib.pyplot as plt # Pour la visualisation des données
import seaborn as sns # Pour des visualisations statistiques avancées
import numpy as np # Pour les opérations numériques
from pathlib import Path # Pour la gestion des chemins de fichiers

Je charge ma bibliothèque persos pour le projet

In [2]:
# Charger la bibliothèque perso oc_tools
import sys
from pathlib import Path
repo_root = Path().resolve().parent.parent  # t:/Projets/Pro/OPC-Data_Engineer
if str(repo_root) not in sys.path:
    sys.path.insert(0, str(repo_root))
try:
    from oc_tools import cleaning as cln, load_save as ls, exploration as exp
except ModuleNotFoundError as exc:
    raise ModuleNotFoundError("oc_tools introuvable : vérifie que le repo parent est bien dans sys.path et que le kernel utilise le bon venv.") from exc

Je prépare des variable contenant les chemins des dossiers dont j'aurais besoin tout du long du projet

In [3]:
# chemin du dossier du projet
base_dir = Path().resolve().parent

# Définir le chemin du dossier des données brutes
raw_data_dir = base_dir / "data" / "raw"

# Définir le chemin du dossier des données traitées
processed_data_dir = base_dir / "data" / "processed"

## Partie 1

### Etape 1 - Chargez les données dans le Notebook

Je commence paar récupérer les chemins des fichiers compris dans mon dossier de données brutes puis je ne conserve que les nom des fichiers.

In [4]:
files = ls.list_raw_data_files(raw_data_dir)  # Utiliser la fonction pour obtenir la liste des fichiers

# Afficher la liste des fichiers
print(f"Voici la liste des fichiers disponibles dans le dossier des données brutes :")
for file in files:
    print(f"- {file}")

Voici la liste des fichiers disponibles dans le dossier des données brutes :
- EdStatsCountry-Series.csv
- EdStatsCountry.csv
- EdStatsData.csv
- EdStatsFootNote.csv
- EdStatsSeries.csv

Je crée un dictionnaire de dataframes pour être capable d'associer chaque jeu de données avec le nom de son fichier d'origine

In [5]:
dataframes = ls.load_all_raw_data(files, raw_data_dir)  # Utiliser la fonction pour charger les données

Je peux facilement relié chaque dataframes au fichier qui lui est associé grace a l'association clé-valeur.

In [6]:
for key, df in dataframes.items():  # Utiliser la fonction pour afficher les premières lignes
    print(f"{key}")
    display(df.head())
    print("\n")

EdStatsCountry-Series.csv

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

EdStatsCountry.csv

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

EdStatsData.csv

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

EdStatsFootNote.csv

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

EdStatsSeries.csv

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Etape 2 - Collectez les informations basiques sur chaque jeu de données

In [7]:
# Premiers nettoyage des données
for df in dataframes.values():
    cln.first_steps_cleaning(df, 0.6)

No duplicated rows found.
No columns with high missing values found.
No duplicated rows found.
No duplicated rows found.
No columns with high missing values found.
No duplicated rows found.
No columns with high missing values found.
No duplicated rows found.

#### EdStatsCountry-Series


Dans ce jeu de données chaque ligne représente un KPI pour un pays

In [8]:
exp.collect_basic_info(dataframes["EdStatsCountry-Series.csv"])  # Utiliser la fonction pour collecter les informations de base

This dataframe has 613 rows and 3 columns.
No numeric columns found.
Descriptive statistics for categorical columns:
Column 'CountryCode' value counts:
CountryCode
GEO    18
MDA    18
CYP    12
SRB    12
MUS    12
       ..
WSM     2
YEM     2
ZAF     2
ZMB     2
ZWE     2
Name: count, Length: 211, dtype: int64

Column 'SeriesCode' value counts:
SeriesCode
SP.POP.TOTL          211
SP.POP.GROW          211
NY.GDP.PCAP.PP.CD     19
NY.GNP.PCAP.PP.CD     19
NY.GDP.PCAP.PP.KD     19
NY.GNP.MKTP.PP.CD     14
NY.GDP.MKTP.PP.KD     14
NY.GDP.MKTP.PP.CD     14
SP.POP.1564.TO.ZS     13
SP.POP.TOTL.MA.ZS     13
SP.POP.TOTL.FE.ZS     13
SP.POP.0014.TO.ZS     13
NY.GNP.PCAP.CD         6
NY.GDP.PCAP.CD         5
NY.GDP.PCAP.KD         5
SP.POP.1564.MA.IN      4
SP.POP.0014.TO         4
SP.POP.1564.TO         4
SP.POP.1564.FE.IN      4
SP.POP.0014.MA.IN      4
SP.POP.0014.FE.IN      4
Name: count, dtype: int64

Column 'DESCRIPTION' value counts:
DESCRIPTION
Data sources : United Nations World Population Prospects                                              154
Data sources: United Nations World Population Prospects                                               137
Estimates are based on regression.                                                                     84
Data sources : Eurostat                                                                                54
Derived using ratio of age group from WPP and World Bank population.                                   24
                                                                                                     ...
Data sources : U.S. Census Bureau, United Nations Population and Vital Statistics Report                1
Data sources: General Statistics Office of Vietnam                                                      1
Data sources : General Statistics Office of Vietnam                                                     1
Data sources : World Bank's Kosovo coutnry office, Kosovo Agency of Statistics, U.S. Census Bureau      1
Data sources: World Bank's Kosovo coutnry office, Kosovo Agency of Statistics, U.S. Census Bureau       1
Name: count, Length: 97, dtype: int64

#### EdStatsCountry

Dans ce jeu de données chaque ligne représente un pays/zone géographique avec ses caractéristiques descriptives.

In [9]:
exp.collect_basic_info(dataframes["EdStatsCountry.csv"])

This dataframe has 241 rows and 29 columns.
Descriptive statistics for numeric columns:
       National accounts reference year  Latest industrial data  \
count                          32.00000              107.000000
mean                         2001.53125             2008.102804
std                             5.24856                2.616834
min                          1987.00000             2000.000000
25%                          1996.75000             2007.500000
50%                          2002.00000             2009.000000
75%                          2005.00000             2010.000000
max                          2012.00000             2010.000000

       Latest trade data
count         185.000000
mean         2010.994595
std             2.569675
min          1995.000000
25%          2011.000000
50%          2012.000000
75%          2012.000000
max          2012.000000
Descriptive statistics for categorical columns:
Column 'Country Code' value counts:
Country Code
ABW    1
AFG    1
AGO    1
ALB    1
AND    1
      ..
XKX    1
YEM    1
ZAF    1
ZMB    1
ZWE    1
Name: count, Length: 241, dtype: int64

Column 'Short Name' value counts:
Short Name
Aruba           1
Afghanistan     1
Angola          1
Albania         1
Andorra         1
               ..
Kosovo          1
Yemen           1
South Africa    1
Zambia          1
Zimbabwe        1
Name: count, Length: 241, dtype: int64

Column 'Table Name' value counts:
Table Name
Aruba           1
Afghanistan     1
Angola          1
Albania         1
Andorra         1
               ..
Kosovo          1
Yemen, Rep.     1
South Africa    1
Zambia          1
Zimbabwe        1
Name: count, Length: 241, dtype: int64

Column 'Long Name' value counts:
Long Name
Aruba                           1
Islamic State of Afghanistan    1
People's Republic of Angola     1
Republic of Albania             1
Principality of Andorra         1
                               ..
Republic of Kosovo              1
Republic of Yemen               1
Republic of South Africa        1
Republic of Zambia              1
Republic of Zimbabwe            1
Name: count, Length: 241, dtype: int64

Column '2-alpha code' value counts:
2-alpha code
AW    1
AF    1
AO    1
AL    1
AD    1
     ..
WS    1
YE    1
ZA    1
ZM    1
ZW    1
Name: count, Length: 238, dtype: int64

Column 'Currency Unit' value counts:
Currency Unit
Euro                     23
U.S. dollar              14
CFA franc                14
East Caribbean dollar     6
Australian dollar         3
                         ..
Vanuatu vatu              1
Samoan tala               1
Yemeni rial               1
South African rand        1
New Zambian kwacha        1
Name: count, Length: 152, dtype: int64

Column 'Special Notes' value counts:
Special Notes
April 2012 database update: Based on official government statistics, national accounts data were revised for 2000 onward; the base year changed to 2006.                                                                                              6
Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                                                                                                           4
Fiscal year end: June 30; reporting period for national accounts data: CY.                                                                                                                                                                            3
April 2013 database update: Based on IMF data, national accounts data were revised for 2000 onward; the base year changed to 2000.                                                                                                                    2
Fiscal year end: March 31; reporting period for national accounts data: FY.                                                                                                                                                                           2
                                                                                                                                                                                                                                                     ..
Fiscal year ends on June 30; reporting period for national accounts data: FY. Data are revised from Samoa Bureau of Statistics and Central Bank of Samoa.                                                                                             1
Kosovo became a World Bank member on June 29, 2009. Since 1999, Kosovo has been a territory under international administration pursuant to UN Security Council Resolution 1244 (1999).                                                                1
Based on official government statistics and International Monetary Fund data, national accounts data have been revised for 1990 onward.                                                                                                               1
National accounts data have rebased to reflect the January 1, 2013, introduction of the new Zambian kwacha at a rate of 1,000 old kwacha = 1 new kwacha.                                                                                              1
Fiscal year end: June 30; reporting period for national accounts data: CY. As of January 2009, multiple hard currencies, such as rand, pound sterling, euro and U.S. dollar are in use. Data are reported in U.S. dollars, the most-used currency.    1
Name: count, Length: 131, dtype: int64

Column 'Region' value counts:
Region
Europe & Central Asia         57
Sub-Saharan Africa            48
Latin America & Caribbean     41
East Asia & Pacific           36
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: count, dtype: int64

Column 'Income Group' value counts:
Income Group
Upper middle income     55
Lower middle income     50
High income: nonOECD    44
Low income              34
High income: OECD       31
Name: count, dtype: int64

Column 'WB-2 code' value counts:
WB-2 code
AW    1
AF    1
AO    1
AL    1
AD    1
     ..
KV    1
RY    1
ZA    1
ZM    1
ZW    1
Name: count, Length: 240, dtype: int64

Column 'National accounts base year' value counts:
National accounts base year
2005                                                                                                                       34
Original chained constant price data are rescaled.                                                                         28
2000                                                                                                                       25
2006                                                                                                                       19
1990                                                                                                                       11
2007                                                                                                                        9
2004                                                                                                                        8
2010                                                                                                                        6
2003                                                                                                                        5
1999                                                                                                                        4
2002                                                                                                                        4
2009                                                                                                                        3
1985                                                                                                                        3
1991                                                                                                                        3
2008                                                                                                                        3
1994                                                                                                                        3
1988                                                                                                                        3
2001                                                                                                                        3
1998                                                                                                                        3
2011                                                                                                                        2
1997                                                                                                                        2
1995                                                                                                                        2
2005/06                                                                                                                     2
2002/03                                                                                                                     1
1991/92                                                                                                                     1
1996                                                                                                                        1
1980                                                                                                                        1
1997/98                                                                                                                     1
2004/05                                                                                                                     1
1986/87                                                                                                                     1
1974                                                                                                                        1
1995/96                                                                                                                     1
2012                                                                                                                        1
1987                                                                                                                        1
1984                                                                                                                        1
2000/01                                                                                                                     1
2005/2006                                                                                                                   1
1954                                                                                                                        1
1990/91                                                                                                                     1
1981/82. Reporting period switch from fiscal year to calendar year from 1996. Pre-1996 data converted to calendar year.     1
2010/11                                                                                                                     1
2001/02                                                                                                                     1
1982                                                                                                                        1
Name: count, dtype: int64

Column 'SNA price valuation' value counts:
SNA price valuation
Value added at basic prices (VAB)       163
Value added at producer prices (VAP)     34
Name: count, dtype: int64

Column 'Lending category' value counts:
Lending category
IBRD     67
IDA      59
Blend    18
Name: count, dtype: int64

Column 'System of National Accounts' value counts:
System of National Accounts
Country uses the 1993 System of National Accounts methodology.    165
Country uses the 1968 System of National Accounts methodology.     42
Country uses the 2008 System of National Accounts methodology.      8
Name: count, dtype: int64

Column 'PPP survey year' value counts:
PPP survey year
2005       98
Rolling    37
2011       10
Name: count, dtype: int64

Column 'Balance of Payments Manual in use' value counts:
Balance of Payments Manual in use
IMF Balance of Payments Manual, 6th edition.    181
Name: count, dtype: int64

Column 'External debt Reporting status' value counts:
External debt Reporting status
Actual         107
Estimate        11
Preliminary      6
Name: count, dtype: int64

Column 'System of trade' value counts:
System of trade
General trade system    106
Special trade system     94
Name: count, dtype: int64

Column 'Government Accounting concept' value counts:
Government Accounting concept
Consolidated central government    95
Budgetary central government       66
Name: count, dtype: int64

Column 'IMF data dissemination standard' value counts:
IMF data dissemination standard
General Data Dissemination System (GDDS)      110
Special Data Dissemination Standard (SDDS)     71
Name: count, dtype: int64

Column 'Latest population census' value counts:
Latest population census
2011                                                                                                                                                                              59
2010                                                                                                                                                                              49
2012                                                                                                                                                                              18
2009                                                                                                                                                                              14
2008                                                                                                                                                                               9
2007                                                                                                                                                                               9
2006                                                                                                                                                                               8
2013                                                                                                                                                                               8
2004                                                                                                                                                                               7
2002                                                                                                                                                                               5
2005                                                                                                                                                                               4
2011. Population figures compiled from administrative registers.                                                                                                                   3
2003                                                                                                                                                                               3
1984                                                                                                                                                                               2
1970                                                                                                                                                                               2
1998                                                                                                                                                                               2
1979                                                                                                                                                                               1
2006. Rolling census based on continuous sample survey.                                                                                                                            1
Guernsey: 2009; Jersey: 2011.                                                                                                                                                      1
1996                                                                                                                                                                               1
2011. The population censuses for 1986 and 1996 were based on a one-in-seven sample of the population, while that for 2006 was based on a one-in-ten sample of the population.     1
1997                                                                                                                                                                               1
1993                                                                                                                                                                               1
1983                                                                                                                                                                               1
1987                                                                                                                                                                               1
2001                                                                                                                                                                               1
1989                                                                                                                                                                               1
Name: count, dtype: int64

Column 'Latest household survey' value counts:
Latest household survey
Multiple Indicator Cluster Survey (MICS), 2012                                                                                                   10
World Health Survey (WHS), 2003                                                                                                                  10
Demographic and Health Survey (DHS), 2013                                                                                                        10
Multiple Indicator Cluster Survey (MICS), 2011                                                                                                    9
Multiple Indicator Cluster Survey (MICS), 2010                                                                                                    9
Demographic and Health Survey (DHS), 2012                                                                                                         8
Demographic and Health Survey (DHS), 2011                                                                                                         6
Demographic and Health Survey (DHS), 2009                                                                                                         4
Demographic and Health Survey (DHS), 2011/12                                                                                                      4
Demographic and Health Survey (DHS), 2010                                                                                                         4

#### EdStatsData

Dans ce jeu de données chaque ligne correspond aux valeurs aux cours des années d'un KPI par pays

In [10]:
exp.collect_basic_info(dataframes["EdStatsData.csv"])

This dataframe has 886930 rows and 69 columns.
Descriptive statistics for numeric columns:
               1970          1971          1972          1973          1974  \
count  7.228800e+04  3.553700e+04  3.561900e+04  3.554500e+04  3.573000e+04
mean   1.974772e+09  4.253638e+09  4.592365e+09  5.105006e+09  5.401493e+09
std    1.211687e+11  1.804814e+11  1.914083e+11  2.059170e+11  2.112150e+11
min   -1.435564e+00 -1.594625e+00 -3.056522e+00 -4.032582e+00 -4.213563e+00
25%    8.900000e-01  8.853210e+00  9.240920e+00  9.595200e+00  9.861595e+00
50%    6.317724e+00  6.316240e+01  6.655139e+01  6.969595e+01  7.087760e+01
75%    6.251250e+01  5.655200e+04  5.863650e+04  6.202900e+04  6.383675e+04
max    1.903929e+13  1.986457e+13  2.100916e+13  2.238367e+13  2.282991e+13

               1975          1976          1977          1978          1979  \
count  8.730600e+04  3.748300e+04  3.757400e+04  3.757600e+04  3.680900e+04
mean   2.314288e+09  5.731808e+09  6.124437e+09  6.671489e+09  7.436724e+09
std    1.375059e+11  2.215546e+11  2.325489e+11  2.473986e+11  2.660957e+11
min   -3.658569e+00 -2.950945e+00 -3.174870e+00 -3.558749e+00 -2.973612e+00
25%    1.400000e+00  9.312615e+00  9.519913e+00  1.000000e+01  1.000000e+01
50%    9.677420e+00  7.101590e+01  7.133326e+01  7.290512e+01  7.510173e+01
75%    7.854163e+01  5.682800e+04  5.739175e+04  5.940425e+04  6.411500e+04
max    2.300634e+13  2.424128e+13  2.521383e+13  2.622101e+13  2.730873e+13

       ...          2055          2060          2065          2070  \
count  ...  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   ...  7.145788e+02  7.224868e+02  7.271290e+02  7.283779e+02
std    ...  2.136851e+04  2.215845e+04  2.287990e+04  2.352338e+04
min    ... -1.830000e+00 -1.630000e+00 -1.440000e+00 -1.260000e+00
25%    ...  3.000000e-02  3.000000e-02  3.000000e-02  2.000000e-02
50%    ...  2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01
75%    ...  7.500000e+00  7.505000e+00  7.500000e+00  7.300000e+00
max    ...  2.813670e+06  2.951569e+06  3.070879e+06  3.169711e+06

               2075          2080          2085          2090          2095  \
count  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   7.266484e+02  7.228327e+02  7.176899e+02  7.113072e+02  7.034274e+02
std    2.408149e+04  2.455897e+04  2.496587e+04  2.530183e+04  2.556069e+04
min   -1.090000e+00 -9.200000e-01 -7.800000e-01 -6.500000e-01 -5.500000e-01
25%    2.000000e-02  1.000000e-02  1.000000e-02  1.000000e-02  1.000000e-02
50%    2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01
75%    7.100000e+00  6.722500e+00  6.080000e+00  5.462500e+00  4.680000e+00
max    3.246239e+06  3.301586e+06  3.337871e+06  3.354746e+06  3.351887e+06

               2100
count  5.143600e+04
mean   6.940296e+02
std    2.574189e+04
min   -4.500000e-01
25%    1.000000e-02
50%    2.200000e-01
75%    4.032500e+00
max    3.330484e+06

[8 rows x 65 columns]
Descriptive statistics for categorical columns:
Column 'Country Name' value counts:
Country Name
Arab World                                     3665
East Asia & Pacific                            3665
East Asia & Pacific (excluding high income)    3665
Euro area                                      3665
Europe & Central Asia                          3665
                                               ...
Virgin Islands (U.S.)                          3665
West Bank and Gaza                             3665
Yemen, Rep.                                    3665
Zambia                                         3665
Zimbabwe                                       3665
Name: count, Length: 242, dtype: int64

Column 'Country Code' value counts:
Country Code
ARB    3665
EAS    3665
EAP    3665
EMU    3665
ECS    3665
       ...
VIR    3665
PSE    3665
YEM    3665
ZMB    3665
ZWE    3665
Name: count, Length: 242, dtype: int64

Column 'Indicator Name' value counts:
Indicator Name
Adjusted net enrolment rate, lower secondary, both sexes (%)               242
Adjusted net enrolment rate, lower secondary, female (%)                   242
Adjusted net enrolment rate, lower secondary, gender parity index (GPI)    242
Adjusted net enrolment rate, lower secondary, male (%)                     242
Adjusted net enrolment rate, primary, both sexes (%)                       242
                                                                          ...
Youth illiterate population, 15-24 years, male (number)                    242
Youth literacy rate, population 15-24 years, both sexes (%)                242
Youth literacy rate, population 15-24 years, female (%)                    242
Youth literacy rate, population 15-24 years, gender parity index (GPI)     242
Youth literacy rate, population 15-24 years, male (%)                      242
Name: count, Length: 3665, dtype: int64

Column 'Indicator Code' value counts:
Indicator Code
UIS.NERA.2              242
UIS.NERA.2.F            242
UIS.NERA.2.GPI          242
UIS.NERA.2.M            242
SE.PRM.TENR             242
                       ...
UIS.LP.AG15T24.M        242
SE.ADT.1524.LT.ZS       242
SE.ADT.1524.LT.FE.ZS    242
SE.ADT.1524.LT.FM.ZS    242
SE.ADT.1524.LT.MA.ZS    242
Name: count, Length: 3665, dtype: int64

#### EdStatsFootNote

Dans ce jeu de données chaque ligne apporte des précisions / commentaires a un KPI

In [11]:
exp.collect_basic_info(dataframes["EdStatsFootNote.csv"])

This dataframe has 643638 rows and 4 columns.
No numeric columns found.
Descriptive statistics for categorical columns:
Column 'CountryCode' value counts:
CountryCode
LIC    7320
CYP    7183
LDC    6481
SSA    6389
SSF    6336
       ...
IMN      32
CUW      23
XKX      12
MNP       4
FRO       2
Name: count, Length: 239, dtype: int64

Column 'SeriesCode' value counts:
SeriesCode
SH.DYN.MORT                  9226
SE.PRM.AGES                  8771
SE.PRM.DURS                  8771
SE.SEC.DURS                  8619
SE.SEC.AGES                  8581
                             ...
NY.GNP.MKTP.PP.CD               1
NY.GNP.PCAP.PP.CD               1
UIS.AFR.SCHCENRESPR.23.PU       1
SL.UEM.TOTL.MA.ZS               1
UIS.XPubP.0                     1
Name: count, Length: 1558, dtype: int64

Column 'Year' value counts:
Year
YR2004    27128
YR2005    25992
YR2002    25687
YR2003    25683
YR2000    25093
YR2001    25047
YR2008    25018
YR1999    24938
YR2007    24263
YR2006    23394
YR2009    22965
YR2010    22598
YR2011    17760
YR1998    14916
YR2012    13890
YR2013    13405
YR1994    11448
YR2014    11378
YR1992    11309
YR1996    11197
YR1995    11194
YR1997    11167
YR1991    11129
YR1993    11093
YR1990    10616
YR1986     9743
YR1985     9653
YR1989     9517
YR1981     9465
YR1984     9386
YR1988     9382
YR1987     9357
YR1983     9227
YR1982     9014
YR1980     8950
YR1979     8742
YR1976     8729
YR1972     8661
YR1975     8627
YR1977     8593
YR1978     8585
YR1973     8571
YR1974     8512
YR1971     8507
YR2015     6348
YR1970     5374
YR2016      819
YR2017      558
YR2035      144
YR2050      144
YR2045      144
YR2040      144
YR2030      140
YR2025      140
YR2020      140
yr2012       14
Name: count, dtype: int64

Column 'DESCRIPTION' value counts:
DESCRIPTION
Country Data                                      191188
UNESCO Institute for Statistics (UIS) estimate    171527
Estimated                                         117155
UIS Estimation                                     31395
Country estimation.                                26308
                                                   ...
Plausible bound is 12.5-16.1                           1
Uncertainty bound is 102.1 - 124.7                     1
Uncertainty bound is 100.9 - 118.9                     1
Uncertainty bound is 99.6 - 117.2                      1
Uncertainty bound is 127.1 - 148.2                     1
Name: count, Length: 9102, dtype: int64

#### EdStatsSeries

Dans ce jeu de données chaque ligne décris une série de statistique.

In [12]:
exp.collect_basic_info(dataframes["EdStatsSeries.csv"])

This dataframe has 3665 rows and 6 columns.
No numeric columns found.
Descriptive statistics for categorical columns:
Column 'Series Code' value counts:
Series Code
BAR.NOED.1519.FE.ZS            1
BAR.NOED.1519.ZS               1
BAR.NOED.15UP.FE.ZS            1
BAR.NOED.15UP.ZS               1
BAR.NOED.2024.FE.ZS            1
                              ..
UIS.XUNIT.USCONST.3.FSGOV      1
UIS.XUNIT.USCONST.4.FSGOV      1
UIS.XUNIT.USCONST.56.FSGOV     1
XGDP.23.FSGOV.FDINSTADM.FFD    1
XGDP.56.FSGOV.FDINSTADM.FFD    1
Name: count, Length: 3665, dtype: int64

Column 'Topic' value counts:
Topic
Learning Outcomes                                                                               1046
Attainment                                                                                       733
Education Equality                                                                               426
Secondary                                                                                        256
Primary                                                                                          248
Population                                                                                       213
Tertiary                                                                                         158
Teachers                                                                                         137
Expenditures                                                                                      93
Engaging the Private Sector (SABER)                                                               51
Literacy                                                                                          32
Teachers (SABER)                                                                                  29
School Autonomy and Accountability (SABER)                                                        29
Early Childhood Education                                                                         24
Education Management Information Systems (SABER)                                                  23
Post-Secondary/Non-Tertiary                                                                       19
School Finance (SABER)                                                                            18
Tertiary Education (SABER)                                                                        17
Student Assessment (SABER)                                                                        15
Pre-Primary                                                                                       14
Health: Population: Structure                                                                     13
Early Child Development (SABER)                                                                   12
Workforce Development (SABER)                                                                     12
Social Protection & Labor: Labor force structure                                                  11
School Health and School Feeding (SABER)                                                           9
Economic Policy & Debt: Purchasing power parity                                                    6
Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators             3
Laber                                                                                              3
Social Protection & Labor: Unemployment                                                            3
Infrastructure: Communications                                                                     2
EMIS                                                                                               2
Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators       2
Background                                                                                         2
Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita                              1
Health: Risk factors                                                                               1
Health: Mortality                                                                                  1
Health: Population: Dynamics                                                                       1
Name: count, dtype: int64

Column 'Indicator Name' value counts:
Indicator Name
Barro-Lee: Percentage of female population age 15-19 with no education           1
Barro-Lee: Percentage of population age 15-19 with no education                  1
Barro-Lee: Percentage of female population age 15+ with no education             1
Barro-Lee: Percentage of population age 15+ with no education                    1
Barro-Lee: Percentage of female population age 20-24 with no education           1
                                                                                ..
Government expenditure per upper secondary student (constant US$)                1
Government expenditure per post-secondary non-tertiary student (constant US$)    1
Government expenditure per tertiary student (constant US$)                       1
Government expenditure in secondary institutions education as % of GDP (%)       1
Government expenditure in tertiary institutions as % of GDP (%)                  1
Name: count, Length: 3665, dtype: int64

Column 'Short definition' value counts:
Short definition
Data Interpretation: 1=Latent; 2=Emerging; 3=Established; 4=Advanced. For additional information, visit the SABER: (website: http://saber.worldbank.org/index.cfm                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              215
Average total number of invented/nonsense words correctly read per minute. The indicator measures students' ability to fluently decipher/decode randomly-presented “words” that follow linguistic rules but do not actually exist in the stated language. Skill in reading nonwords can be a purer measure of decoding than using real words because children cannot recognize the words by sight. Decoding is considered a self-teaching skill that enables children to read new and unfamiliar words independently. Users are discouraged from using these data to make direct comparisons across countries or languages. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                              51
Share of students who scored zero percent on the reading comprehension assessment. The reading comprehension subtask follows the oral reading fluency subtask; students are required to respond to literal and inferential questions about the oral reading fluency subtask text they have just read. The questions are read aloud to the student by the assessor. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                                                                                                                                                                                                                                                                                       51
Share of students who scored 80 percent or higher on the reading comprehension assessment. The reading comprehension subtask follows the oral reading fluency subtask; students are required to respond to literal and inferential questions about the oral reading fluency subtask text they have just read. The questions are read aloud to the student by the assessor. Users are discouraged from using these data to make direct comparisons across countries or languages. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                                                                                                                                                                         51
Percentage of students who were unable to read a single word of text on the oral reading fluency subtask. The oral reading fluency/paragraph reading subtask examines students' ability to read a narrative or informational text with accuracy, with little effort, and at a sufficient rate. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                                                                                                                                                                                                                                                                                                                                                           51
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
The percentage of male population (age 25 and over) with incomplete primary as the highest level of educational attainment. This indicator is calculated by dividing the number of males aged 25 years and above with incomplete primary education by the total male population of the same age group and multiplying the result by 100. The UNESCO Institute for Statistics (UIS) educational attainment dataset shows the educational composition of the population aged 25 years and above and hence the stock and quality of human capital within a country. The dataset also reflects the structure and performance of the education system and its accumulated impact on human capital formation. For more information, visit the UNESCO Institute for Statistics website: http://www.uis.unesco.org/      1
The percentage of the population (age 25 and over) with unknown educational attainment. This indicator is calculated by dividing the number of persons aged 25 years and above with unknown educational attainment by the total population of the same age group and multiplying the result by 100. The UNESCO Institute for Statistics (UIS) educational attainment dataset shows the educational composition of the population aged 25 years and above and hence the stock and quality of human capital within a country. The dataset also reflects the structure and performance of the education system and its accumulated impact on human capital formation. For more information, visit the UNESCO Institute for Statistics website: http://www.uis.unesco.org/                                           1
The percentage of the female population (age 25 and over) with unknown educational attainment. This indicator is calculated by dividing the number of females aged 25 years and above with unknown educational attainment by the total female population of the same age group and multiplying the result by 100. The UNESCO Institute for Statistics (UIS) educational attainment dataset shows the educational composition of the population aged 25 years and above and hence the stock and quality of human capital within a country. The dataset also reflects the structure and performance of the education system and its accumulated impact on human capital formation. For more information, visit the UNESCO Institute for Statistics website: http://www.uis.unesco.org/                             1
The percentage of the male population (age 25 and over) with unknown educational attainment. This indicator is calculated by dividing the number of males aged 25 years and above with unknown educational attainment by the total male population of the same age group and multiplying the result by 100. The UNESCO Institute for Statistics (UIS) educational attainment dataset shows the educational composition of the population aged 25 years and above and hence the stock and quality of human capital within a country. The dataset also reflects the structure and performance of the education system and its accumulated impact on human capital formation. For more information, visit the UNESCO Institute for Statistics website: http://www.uis.unesco.org/                                   1
Percentage of female population age 15-19 with no education                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Name: count, Length: 1169, dtype: int64

Column 'Long definition' value counts:
Long definition
Data Interpretation: 1=Latent; 2=Emerging; 3=Established; 4=Advanced. For additional information, visit the SABER: (website: http://saber.worldbank.org/index.cfm                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     215
Average total number of invented/nonsense words correctly read per minute. The indicator measures students' ability to fluently decipher/decode randomly-presented “words” that follow linguistic rules but do not actually exist in the stated language. Skill in reading nonwords can be a purer measure of decoding than using real words because children cannot recognize the words by sight. Decoding is considered a self-teaching skill that enables children to read new and unfamiliar words independently. Users are discouraged from using these data to make direct comparisons across countries or languages. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.     51
Share of students who scored 80 percent or higher on the reading comprehension assessment. The reading comprehension subtask follows the oral reading fluency subtask; students are required to respond to literal and inferential questions about the oral reading fluency subtask text they have just read. The questions are read aloud to the student by the assessor. Users are discouraged from using these data to make direct comparisons across countries or languages. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                                                                                                51
Share of students who scored zero percent on the reading comprehension assessment. The reading comprehension subtask follows the oral reading fluency subtask; students are required to respond to literal and inferential questions about the oral reading fluency subtask text they have just read. The questions are read aloud to the student by the assessor. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                                                                                                                                                                                                              51
Percentage of students who were unable to read a single word of text on the oral reading fluency subtask. The oral reading fluency/paragraph reading subtask examines students' ability to read a narrative or informational text with accuracy, with little effort, and at a sufficient rate. Consult the EdData website and the specific country report for more information: www.eddataglobal.org.                                                                                                                                                                                                                                                                                                                                  51
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
Percentage of population age 20-24 with no education                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Percentage of female population age 20-24 with no education                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1

### Etape 3 - Réalisez votre premier nettoyage

Apres une revue complète du fichier EdStatsCountry.csv il apparait que deux colonnes peuvent nous permettre de filtrer les entités qui ne sont pas des pays : ```Region``` et ```System of National Accounts```
- ```Region``` nous donne 2 faux positifs : Gibraltar et Nauru
- ```System of National Accounts``` nous donne 1 faux positif : Nauru

Ici nous allons filtrer selon la région et retirer les deux faux positif de la liste des faux pays

In [ ]:
# Identifier les faux pays
faux_pays = dataframes["EdStatsCountry.csv"][dataframes["EdStatsCountry.csv"]["Region"].isna() & (~dataframes["EdStatsCountry.csv"]["Country Code"].isin(["NRU", "GIB"]))]
faux_pays

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
5,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,EAP,East Asia & Pacific (developing only),East Asia & Pacific,East Asia & Pacific (developing only),4E,NaN,East Asia and Pacific regional aggregate (does...,NaN,NaN,4E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,EAS,East Asia & Pacific (all income levels),East Asia & Pacific (all income levels),East Asia & Pacific (all income levels),Z4,NaN,East Asia and Pacific regional aggregate (incl...,NaN,NaN,Z4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,ECA,Europe & Central Asia (developing only),Europe & Central Asia,Europe & Central Asia (developing only),7E,NaN,Europe and Central Asia regional aggregate (do...,NaN,NaN,7E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,ECS,Europe & Central Asia (all income levels),Europe & Central Asia (all income levels),Europe & Central Asia (all income levels),Z7,NaN,Europe and Central Asia regional aggregate (in...,NaN,NaN,Z7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,EMU,Euro area,Euro area,Euro area,XC,NaN,Euro area aggregate.,NaN,NaN,XC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,EUU,European Union,European Union,European Union,EU,NaN,European Union aggregate.,NaN,NaN,EU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,HIC,High income,High income,High income,XD,NaN,High income group aggregate. High-income econo...,NaN,NaN,XD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,HPC,Heavily indebted poor countries (HIPC),Heavily indebted poor countries (HIPC),Heavily indebted poor countries (HIPC),XE,NaN,Heavily indebted poor countries aggregate.,NaN,NaN,XE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,LAC,Latin America & Caribbean (developing only),Latin America & Caribbean,Latin America & Caribbean (developing only),XJ,NaN,Latin America and Caribbean regional aggregate...,NaN,NaN,XJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,LCN,Latin America & Caribbean (all income levels),Latin America & Caribbean (all income levels),Latin America & Caribbean (all income levels),ZJ,NaN,Latin America and Caribbean regional aggregate...,NaN,NaN,ZJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,LDC,Least developed countries: UN classification,Least developed countries: UN classification,Least developed countries: UN classification,XL,NaN,Least developed countries (UN classification) ...,NaN,NaN,XL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,LIC,Low income,Low income,Low income,XM,NaN,Low income group aggregate. Low-income economi...,NaN,NaN,XM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,LMC,Lower middle income,Lower middle income,Lower middle income,XN,NaN,Lower middle income group aggregate. Lower-mid...,NaN,NaN,XN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,LMY,Low & middle income,Low & middle income,Low & middle income,XO,NaN,Low and middle income group aggregate (all dev...,NaN,NaN,XO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,MEA,Middle East & North Africa (all income levels),Middle East & North Africa (all income levels),Middle East & North Africa (all income levels),ZQ,NaN,Middle East and North Africa regional aggregat...,NaN,NaN,ZQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,MIC,Middle income,Middle income,Middle income,XP,NaN,Middle income group aggregate. Middle-income e...,NaN,NaN,XP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,MNA,Middle East & North Africa (developing only),Middle East & North Africa,Middle East & North Africa (developing only),XQ,NaN,Middle East and North Africa regional aggregat...,NaN,NaN,XQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NAC,North America,North America,North America,XU,NaN,North America regional aggregate. There are no...,NaN,NaN,XU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,OED,OECD members,OECD members,OECD members,OE,NaN,"OECD members aggregate (all, including develop...",NaN,NaN,OE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,SAS,South Asia,South Asia,South Asia,8S,NaN,South Asia regional aggregate. There are no ec...,NaN,NaN,8S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,SSA,Sub-Saharan Africa (developing only),Sub-Saharan Africa,Sub-Saharan Africa (developing only),ZF,NaN,Sub-Saharan Africa regional aggregate (does no...,NaN,NaN,ZF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,SSF,Sub-Saharan Africa (all income levels),Sub-Saharan Africa (all income levels),Sub-Saharan Africa (all income levels),ZG,NaN,Sub-Saharan Africa regional aggregate (includi...,NaN,NaN,ZG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,UMC,Upper middle income,Upper middle income,Upper middle income,XT,NaN,Upper middle income group aggregate. Upper-mid...,NaN,NaN,XT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,WLD,World,World,World,1W,NaN,World aggregate.,NaN,NaN,1W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# supprimer les faux pays du dataframe EdStatsCountry
fake_codes = faux_pays["Country Code"].tolist()
dataframes["EdStatsCountry.csv"] = dataframes["EdStatsCountry.csv"][~dataframes["EdStatsCountry.csv"]["Country Code"].isin(fake_codes)]
print(f"Lignes restantes : {len(dataframes['EdStatsCountry.csv'])}")

Lignes restantes : 216